body{
	font-family: 'open sans', sans-serif;

}
table{
	border-collapse: collapse ;
}
thead, tfoot{
	background-color: rgb(110, 200, 40);
	color: #FFF;
	text-transform: uppercase;

}
td,th{
	border: 1px solid black;
	padding: 10px;
}
th{
	font-weight: normal;

}
.paire{
	background-color: #EEE;
}
.impaire{
	background-color: #CCC;
}